body {
  margin: 1rem 3rem;
  padding: 3rem;
  font-family: sans-serif;
}

header h2 {
  color: rgb(120, 210, 148);
}

header h2, header h3 {
  text-align: center;
}

main {
  display:flex; 
  flex-direction: column;
}

#image-container {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

img {
  max-width: 500px;
  max-height: 400px;
  margin-bottom: 2rem;
}

#options {
  display: flex;
  flex-direction: column;
}

button {
  margin: 0.25rem 2rem;
  border: none;
  padding: 5px;

}

.correct {
  color: #ffffff;
  background-color: rgb(79, 180, 79);
}

.incorrect {
  color: #ffffff;
  background-color: rgb(216, 101, 101);
}

.hidden {
  display: none;
}

.next-button {
  display: flex;
  justify-content: center;
}

#next {
  margin: 2rem 6rem;
  padding: 10px;
  border-radius: 5px;
  font-size: larger;
  background-color: rgb(205, 192, 174);
}