:root {
  --background-surface: #eeeeee; 
  --primaryColor: #005F73; 
  --secondaryColor: #191b1b; 
  --color3: #29755b; 
  --color4: #eef0f0; 
  --color5: #4f5555;
  --color6: #444848; 
  --highlight: #BB3E03; 

}

body {
  margin: 0 2rem;
  height: 90vh;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-surface);
}

.header {
  width: 100%;
  height: 80px;
  background-color: var(--color6);
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 50px;
  height: 60px;
  margin-right: 10px;
  padding: 0.5rem 0;
}

.header p {
  color: var(--color4);
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 1rem;
}

body>main {
  margin: auto;
  margin-top: 60px;
  max-width: 500px;
  padding: 0 4px;
}

h1 {
  background-color: var(--color5);
  color: white;
  margin: 0;
  text-align: center;
  padding: 10px 0 5px 0;
  font-size: 18px;
  font-weight: normal;
  border-radius: 7px;
}

h3 {
  color: var(--color5);
  font-weight: normal;
  padding-top: 15px;
  font-size: 17px;
}

button {
  display: block;
  background-color: var(--color5);
  border: 0;
  width: 80%;
  margin: 16px 10%;
  padding: 12px 0;
  border-radius: 40px;
  color: var(--color4);
  font-size: 16px;
  cursor: pointer;
}

h2 {
  color: var(--color5);
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.header-img {
  display: flex;
  justify-content: flex-end;
}
#home, #login, #register {
  text-align: center;
}

main a.navlink {
  color: var(--color5);
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

fieldset {
  background-color: var(--color4);
  padding: 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px silver;
}

form label {
  display: block;
  color: var(--color5);
  font-size: 13px;
  margin-left: 16px;
  margin-bottom: 4px;
  text-align: left;
}

form input {
  display: block;
  border: 1px solid var(--color5);
  width: 94%;
  padding: 3%;
  border-radius: 20px;
  background-color: var(--color2);
  margin-bottom: 12px;
}

form input:focus {
  border-color: var(--color3);
  background-color: white;
}

.page {
  display: none;
}

dt {
  font-weight: 600;
}